@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* .hero-section{
  background-image: url('/public/images/landing-page-images/hero-section-bg-image.png');
  filter: blur(8px);
  -webkit-filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
} */

.mask-fade-top-and-bottom {
  mask-image: 
    linear-gradient(
      to bottom, 
      transparent,      /* Start: Fully transparent (top) */
      black 10%,         /* Fade in: Solid black from 10% */
      black 90%,         /* Fade out: Solid black up to 90% */
      transparent       /* End: Fully transparent (bottom) */
    );

  -webkit-mask-image: 
    linear-gradient(
      to bottom, 
      transparent,
      black 10%, 
      black 90%, 
      transparent
    );
}
